<div class="jw-popup-wireless" id="menuEditDiv" style="display: none">
    <form class="layui-form" id="menuEditForm">
        <input type="hidden" name="id" value="">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: auto">菜单名字:</label>
            <div class="layui-input-block" style="margin-left: 90px">
                <input type="text" name="name" lay-verify="required" placeholder="请输入标题"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: auto">菜单路径:</label>
            <div class="layui-input-block" style="margin-left: 90px">
                <input type="text" name="url" lay-verify="required" placeholder="请输入"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
    </form>
</div>