<!--菜单管理页面-->
<!DOCTYPE html>
<html>
<head>
    {include file="static/header.html" /}
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    {include file="static/menu.html" /}

    <div class="layui-body">
        <div class="layui-fluid">
            <table class="layui-hide" id="menu" lay-filter="menu"></table>
        </div>
    </div>
    {include file="static/footer.html" /}
</div>

<!--头部按钮-->
<script type="text/html" id="topDemo">
    <div class="layui-btn-container">
        <button data-method="offset" data-type="auto" class="layui-btn layui-btn-sm" lay-event="addMenu">新增菜单</button>
    </div>
</script>

<!--行按钮-->
<script type="text/html" id="lineDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit" style="text-decoration: none">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" style="text-decoration: none">删除</a>
</script>

<!--编辑盒子-->
{include file="menu/menuedit"}
<!--新增盒子-->
{include file="menu/menuadd"}

<script>
    layui.config({
        base: '__STATIC__/layui-tree/treeTable.js'
    }).use(['layer', 'util', 'treeTable'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var util = layui.util;
        var table = layui.table;
        var treeTable = layui.treeTable, form = layui.form;

        // 渲染表格
        var insTb = treeTable.render({
            elem: '#menu',
            url: '{:url("admin/Menu/menuIndex")}',
            height: 'full-150',
            toolbar: '#topDemo',
            defaultToolbar: ['filter', 'exports', 'print'],
            tree: {
                iconIndex: 1,//控制图标位置
                isPidData: true,//如果是树形结构必须设置为true
                idName: 'id',//父ID
                pidName: 'pid',//子ID
                openName: 'id',// 展开树形结构，根据父级id
                //public bool open { get; set; }open字段是bool类型
            },
            cols: [[
                {type: 'checkbox', fixed: 'left'}
                , {field: 'id', title: '序号'}
                , {field: 'name', title: '菜单名字'}
                , {field: 'url', title: '菜单路径'}
                , {fixed: 'right', title: '操作', toolbar: '#lineDemo'}
            ]]
        });

        //头部按钮
        treeTable.on('toolbar(menu)', function (obj) {
            //新增
            if (obj.event == 'addMenu') {
                //请求当前一级菜单
                $.ajax({
                    type: 'post'
                    , url: '{:url("admin/Menu/menuTreeList")}'
                    , success: function (res) {
                        console.log(res);
                        // let menuTreeList = res.map((item) => {
                        //     return {name: item.name,value: item.id,children: item.pid==item.id?item:[]}
                        // })
                    }
                });
                //打开新增菜单弹出
                layer.open({
                    type: 1
                    , title: "新增菜单"
                    , area: ['40%', '600px']
                    , content: $('#menuAddDiv')
                    , btn: ['提交', '取消']
                    , btnAlign: 'c'
                    , shade: 0.3
                    , success: function () {
                        $.ajax({
                            type: 'post'
                            , url: '{:url("admin/Commons/userAtWork")}'
                            , success: function (res) {
                                console.log(res);
                                let userArr = res.map((item) => {
                                    return {name: item.realname, value: item.id}
                                })
                                selectUser.update({
                                    data: userArr
                                })
                            }
                        });
                        $.ajax({
                            type: 'post'
                            , url: '{:url("admin/Commons/menuList")}'
                            , success: function (res) {
                                console.log(res);
                                let menuArr = res.map((item) => {
                                    return {name: item.name, value: item.id, children:item.child}
                                });
                                selectMenu.update({
                                    data: menuArr
                                })
                            }
                        })
                    }
                    , yes: function () {
                        $.ajax({
                            type: 'post'
                            , url: '{:url("admin/Menu/menuAdd")}'
                            , data: $("#menuAddForm").serialize()
                            , success: function () {
                                layer.closeAll();
                                treeTable.reload('menu');
                            }
                        })
                    }
                    , btn2: function () {
                        //清空表单
                        layer.closeAll();
                    }
                    , end: function () {
                        $("#menuAddDiv").css('display', 'none');
                    }
                })
            }
        });

        //行按钮
        treeTable.on('tool(menu)', function (obj) {
            //获取行数据
            var data = obj.data;
            //编辑
            if (obj.event == 'edit') {
                layer.open({
                    type: 1
                    , title: "修改菜单"
                    , area: ['40%', '700px']
                    , content: $('#menuEditDiv')
                    , btn: ['确定', '取消']
                    , btnAlign: 'c' //按钮居中
                    , shade: 0.3
                    , success: function () {
                        $("#menuEditForm input[name='id']").val(data.id);
                    }
                    , yes: function () {
                        $.ajax({
                            type: 'post',
                            url: '{:url("admin/Menu/menuEdit")}',
                            data: $("#menuEditForm").serialize(),
                            success: function () {
                                layer.closeAll();
                                treeTable.reload('menu');
                            }
                        })
                    }
                    , btn2: function () {
                        //清空表单
                        layer.closeAll();
                    }
                    , end: function () {
                        $("#menuEditDiv").css('display', 'none');
                    }
                })
            }
            //删除
            if (obj.event == 'del') {
                layer.open({
                    type: 1
                    , title: '确实删除'
                    , area: ['200px', '100px']
                    , btn: ['确定', '取消']
                    , btnAlign: 'c'
                    , shade: '0.3'
                    , yes: function () {
                        $.ajax({
                            type: 'post',
                            url: '{:url("admin/Menu/menuDel")}',
                            data: {
                                id: obj.data.id
                            },
                            success: function (res) {
                                layer.closeAll();
                            },
                            error: function (xhr) {
                                alert(xhr);
                                console.log(xhr);
                            }
                        })
                    }
                    , btn2: function () {
                        layer.closeAll();
                    }
                    , end: function () {
                        treeTable.reload('menu');
                    }
                })
            }
        })

        // 全部展开
        $('#btnExpandAll').click(function () {
            insTb.expandAll();
        });

        // 全部折叠
        $('#btnFoldAll').click(function () {
            insTb.foldAll();
        });
    })
</script>
</body>
</html>