<div class="jw-popup-wireless" id="menuAddDiv" style="display: none">
    <fieldset class="layui-elem-field layui-field-title" style="margin: 0">
        <legend style="width: fit-content;border-bottom: 0">填写信息</legend>
    </fieldset>
    <form class="layui-form" id="menuAddForm">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: auto">添加选项</label>
            <div class="layui-input-block">
                <input type="radio" name="type" value="menu" title="菜单" checked="" id="menuBtn">
                <input type="radio" name="type" value="btn" title="按钮" id="btnBtn">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-required" style="width: auto">父级菜单</label>
            <div class="layui-input-block" style="margin-left: 90px">
                <div id="selectMenu" class="xm-select-demo"></div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: auto">菜单名字:</label>
            <div class="layui-input-block" style="margin-left: 90px">
                <input type="text" name="name" lay-verify="required" placeholder="请输入标题"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: auto">菜单路径:</label>
            <div class="layui-input-block" style="margin-left: 90px">
                <input type="text" name="url" lay-verify="required" placeholder="请输入"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-required" style="width: auto">在职员工</label>
            <div class="layui-input-block" style="margin-left: 90px">
                <div id="selectUser" class="xm-select-demo"></div>
            </div>
        </div>
    </form>
</div>
<script>
    $(function () {
        $("#menuBtn").click(function () {

        })
    });
    var selectMenu = xmSelect.render({
        el: '#selectMenu',
        name: 'pid',
        tree: {
            show: true,
            expandedKeys: true,
        },
        filterable: true,
        height: 'auto',
        paging: true,
        pageSize: 8,
        on: function (data) {
            console.log(data)
        }
    });
    var selectUser = xmSelect.render({
        el: '#selectUser',
        name: 'roleId',//往后台传递参数的name值
        radio: false,//是否开启单选模式
        clickClose: false,//是否点击选项后自动关闭下拉框
        // simple: false,
        height: 'auto',
        paging: true,
        pageSize: 8,
        on: function (data) {
        }
    })
</script>