<!--管理后台页面-->
<!DOCTYPE html>
<html>
<head>
    {include file="static/header.html" /}
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    {include file="static/menu.html" /}

    <div class="layui-body">
        <div class="layui-fluid">
            <table class="layui-hide" id="userInfoList" lay-filter="userInfoList"></table>
        </div>
    </div>
    {include file="static/footer.html" /}
</div>

<!--头部按钮-->
<script type="text/html" id="topDemo">
    <div class="layui-btn-container">
        <button data-method="offset" data-type="auto" class="layui-btn layui-btn-sm" lay-event="excelExport">导出excel表格
        </button>
    </div>
</script>

<!--行按钮-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <!--    <button data-method="offset" data-type="auto" class="layui-btn layui-btn-normal">居中弹出</button>-->
</script>

<!--编辑页面-->
{include file="user/user_edit" /}

<script>
    layui.use(['table', 'layer', 'util'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var util = layui.util;
        var table = layui.table;

        table.render({
            elem: '#userInfoList'
            , url: '{:url("admin/user/userIndex")}'
            , toolbar: '#topDemo' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: ['filter', 'exports', 'print']
            , cols: [[
                {type: "checkbox"},
                {field: "id", title: "序号", sort: true, align: "center"},
                {field: "account", title: "用户名", align: "center"},
                {field: "password", title: "密码", align: "center"},
                {field: "right", title: "操作", align: "center", templet: "#barDemo"}
            ]]
            , page: true
            , limits: [3, 5, 10]
        });

        //头工具栏事件
        table.on('toolbar(userInfoList)', function (obj) {
            if (obj.event == 'excelExport') {
                window.open('{:url("admin/User/exportExcel")}')
            }
        });

        //行按钮事件
        table.on('tool(userInfoList)', function (obj) {
            var data = obj.data;
            // 编辑
            if (obj.event == 'edit') {
                layer.open({
                    type: 1,
                    offset: 'auto',
                    area: ['500px', '700px'],
                    title: '编辑页面',
                    content: $("#user_edit_box"),
                    btnAlign: 'c',
                    shade: 0.3,
                    success: function (layero, index) {
                        $("#user_edit_form input[name='id']").val(data.id);
                        $("#user_edit_form input[name='account']").val(data.account);
                        $("#user_edit_form input[name='password']").val(data.password);
                        $("#user_edit_form input[name='realname']").val(data.realname);
                    },
                    btn: ['确定', '取消'],
                    yes: function () {
                        var formData = $("#user_edit_form").serialize();
                        $.ajax({
                            type:'post',
                            url:'{:url("admin/user/userEdit")}',
                            data:formData,
                            success:function (res) {
                                console.log(res);
                                layer.closeAll();
                                table.reload('userInfoList', {
                                    page: {
                                        curr: 1 //重新从第 1 页开始
                                    }
                                });
                            }
                        })
                    },
                    btn2: function () {
                        $("#user_edit_box").css('display','none');
                    },
                    cancel:function () {
                        $("#user_edit_box").css('display','none');
                    }
                })
            }
            //删除
            else if (obj.event == 'del') {
                layer.open({
                    type: 1,
                    offset: 'auto',
                    area: ['300px', '200px'],
                    title: '删除页面',
                    content: `<div style="font-size: 15px;margin: 35px 105px;">确定删除吗？</div>`,
                    btnAlign: 'c',
                    shade: 0.3,
                    shadeClose: true,
                    btn: ['确定', '取消'],
                    yes: function () {
                        $.ajax({
                            type:'post',
                            url:'{:url("admin/user/userDel")}',
                            data:{id:data.id},
                            success:function (res) {
                                console.log(res)
                                layer.closeAll();
                                table.reload('userInfoList', {
                                    page: {
                                        curr: 1 //重新从第 1 页开始
                                    }
                                });
                            }
                        })
                    },
                    btn2: function () {
                    }
                })
            }
        });

    });
</script>

</body>
</html>