<!--用户编辑页面-->
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no"/>
    <script src="__STATIC__/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="__STATIC__/js/jquery-1.10.2.min.js"></script>
    <script src="__STATIC__/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="__STATIC__/bootstrap-3.3.7-dist/css/bootstrap.css">
</head>
<div id="user_edit_box" style="display: none">
    <div class="container" style="width: 100%;margin-top: 20px;">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <form role="form" name="user_edit_form" id="user_edit_form">
                    <input type="hidden" name="id" value="">
                    <div class="form-group">
                        <label for="account">用户名</label>
                        <input type="text" name="account" class="form-control" id="account" placeholder="请输入账号">
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input type="text" name="password" class="form-control" id="password" placeholder="请输入密码">
                    </div>
                    <div class="form-group">
                        <label for="realname">姓名</label>
                        <input type="text" name="realname" class="form-control" id="realname" placeholder="请输入密码">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>