<!DOCTYPE>
<html>

<head>
    <title>LoginPage</title>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no"/>
    <script src="__STATIC__/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="__STATIC__/js/jquery-1.10.2.min.js"></script>
    <script src="__STATIC__/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="https://g.alicdn.com/dingding/dingtalk-jsapi/2.10.3/dingtalk.open.js"></script>
    <link rel="stylesheet" href="__STATIC__/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="__STATIC__/css/PersonalCss.css">
</head>

<body class="Loginbody">
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 empty-block"></div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 text-center" style="background:white">
            <div class="col-lg-4 col-lg-offset-4">
                <img src="__STATIC__/img/img_avatar.png" class="img-rounded-deep" alt="Cinque Terre" width="150"
                     height="150">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 empty-block"></div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3" style="background:white">
            <form action="__BASE__/admin/Login/loginJump" method="post" class="form-horizontal" role="form">
                <input type="hidden" name="method" value="login">
                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">Username</label>
                    <div class="col-lg-8 col-sm-10">
                        <input type="text" class="form-control" name="account" placeholder="Please input your username"
                               autocomplete="off" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 col-sm-2 control-label">Password</label>
                    <div class="col-lg-8 col-sm-10">
                        <input type="password" class="form-control" name="password"
                               placeholder="Please input your password" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label><input type="checkbox">Remember me</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-8 col-lg-offset-2">
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Sign in">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-2" style="background:white;">
                        <p>
                            <a href="#">Forget Passcode?</a>
                            <a id="microBlog_login" href=""><img src="__IMG__/weibo_login.png" title="点击进入授权页面" alt="点击进入授权页面" border="0" /></a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 text-center" style="background:white;font-size:24px">
                        <p>
                            <a href="#">New user? Click here</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    $(function () {
        //请求微博登陆的url
        $.ajax({
            type:'post',
            url:'{:url("admin/Login/loginIndex")}',
            success:function (res) {
                $("#microBlog_login").attr("href",res);
            }
        });

        //请求钉钉企业内部登陆需要的code授权
        if (dd.env.platform !== 'notInDingTalk') {
            dd.ready(function () {
                dd.runtime.permission.requestAuthCode({
                    corpId: "ding8864944b9843ab5cf2c783f7214b6d69",
                    onSuccess: function (result) {
                        code = result.code;
                        alert(code)
                        $.ajax({
                            type:'post',
                            url:'{:url("admin/Login/dingBack")}',
                            data:{
                                'code':code
                            },
                            success:function (res) {
                                alert(res.errmsg);
                            }
                        })
                    },
                    onFail: function (err) {
                        alert(err);
                    }
                });
            });
        }
    })
</script>
</html>